body {
  font-family: ui-sans-serif, system-ui, sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
               "Noto Color Emoji" !important;
  @media (width <= 1366px) and
         (height <= 768px) and
         (resolution <= 1dppx) and
         (hover: hover) {
    zoom: 1;
  }
}

ul#full_list {
  padding-top: 20px;
}
