<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robert Gleeson's resume</title>
    <link rel="canonical" href="https://r.uby.dev/resume">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <main class="home-page resume-page">
      <header class="resume-header">
        <div class="resume-heading">
          <h1>Resume</h1>
        </div>
        <dl class="resume-contact">
          <dt>www</dt>
          <dd><a href="https://r.uby.dev">r.uby.dev</a></dd>
          <dt>contact</dt>
          <dd><a href="mailto:robert@r.uby.dev">robert@r.uby.dev</a></dd>
        </dl>
      </header>
      <article class="resume-content">
        <%= yield %>
      </article>
    </main>

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b565dccbae55404faf2c00fc90b87f9a"}'></script>
     <!-- End Cloudflare Web Analytics -->
  </body>
</html>
